.idea
/32.Email/email_credentials.json
/35.RainAlert/api_key.json
/36.Stonks/keys.json
/37.HabitTracker/pixela_data.json
/38.WorkoutTracker/nutrition.json
/39.FlightDealFinder/credentials.json
/40.FlightClub/credentials.json
/46.SpotifyPlaylist/spotify_credentials.json